#include "rc.h"

IDI_ICON              ICON    DISCARDABLE     "images/app.ico"
1 VERSIONINFO
FILEVERSION _PRODUCT_VERSION
PRODUCTVERSION _PRODUCT_VERSION
FILEFLAGSMASK 0x3fL
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "Comments", "\0"
            VALUE "CompanyName", "Kudryashov Vasili\0"
            VALUE "FileDescription", "Restaurant\0"
            VALUE "FileVersion", _FILE_VERSION_STR
            VALUE "InternalName", "Restaurant\0"
            VALUE "LegalCopyright", "(C)2017-2018, Kudryashov Vasili\0"
            VALUE "OriginalFilename", "Restaurant.exe\0"
            VALUE "Email", "end1_1@yahoo.com\0"
            VALUE "ProductName", "SmartHotel\0"
            VALUE "ProductVersion", _PRODUCT_VERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
